<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>{{message}}</h1>
    <p>Welcome to the app!</p>
    <a href="/users">View Users</a>
</body>
</html>

